<li>
	<article class="block group-item">
		<header class="group-item-header">
			<h2 class="group-item-header">
				{{title}}
			</h2>
			<h3 class="group-item-desc">
				{{desc}}
			</h3>
		</header>
		<div class="group-item-body">
			<div class="group-item-actions">
				<button type="button" data-calendar-group="{{group}}" class="btn btn-style-a action-calendar-view">
					<span>{{title}} >></span>
				</button>
			</div>
			<div class="group-item-members">
				<p><strong>Group members</strong></p>
				<ul class="group-item-members">
					{{#each members}}
					<li>
						<div class="group-item-user" data-calendar-group-user="{{user}}">
							<p>{{fullname}}</p>
							{{#if img}}
							<img src="{{img}}" alt="{{fullname}} image" />
							{{/if}}
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</article>
</li>